// Release-specific compiler settings
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_COMPILATION_MODE = wholemodule
VALIDATE_PRODUCT = YES

// Production environment settings
ACCOUNT_API_BASE_URL = https:/$()/account-api.proton.me
ACCOUNT_BASE_URL = https:/$()/account.proton.me
LUMO_API_BASE_URL = https:/$()/lumo-api.proton.me
LUMO_BASE_URL = https:/$()/lumo.proton.me
ENABLE_LOCALHOST = NO
