<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>account.proton.me</string>
		<string>account-api.proton.me</string>
		<string>lumo-api.proton.me</string>
		<string>lumo.proton.me</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.me.proton.lumo</string>
	</array>
</dict>
</plist>
